RewriteEngine On
ErrorDocument 404 /404.php

RewriteRule ^(.*)/$ /$1 [L,R=301]

RewriteRule ^sitemap\.xml sitemap.xml

RewriteRule ^profile\.html$ profile.php
RewriteRule ^contact\.html$ contact.php
RewriteRule ^post\.html$ post.php
RewriteRule ^v-blog/loi-xin-loi-ba-chan-thanh$ post1.php
RewriteRule ^v-blog/lac-loi-tuoi-24$ post2.php
RewriteRule ^v-blog/cau-chuyen-ve-chuyen-xe-muon$ post3.php
RewriteRule ^v-blog/mot-thoang-bach-khoa-trong-toi$ post4.php