RewriteEngine On
ErrorDocument 404 /404.php

RewriteRule ^(.*)/$ /$1 [L,R=301]

RewriteRule ^sitemap\.xml sitemap.xml

RewriteRule ^profile\.html$ profile.php
RewriteRule ^contact\.html$ contact.php
RewriteRule ^post\.html$ post.php
RewriteRule ^v-blog/loi-xin-loi-ba-chan-thanh$ post1.php
RewriteRule ^v-blog/cau-chuyen-ve-chuyen-xe-muon$ post3.php
RewriteRule ^v-blog/mot-thoang-bach-khoa-trong-toi$ post4.php
RewriteRule ^v-blog/chung-ta-lon-ca-roi$ post5.php
RewriteRule ^v-blog/nguoi-thay-va-moi-tinh-7-nam$ post6.php
RewriteRule ^v-blog/yumi-va-con-duong-tro-thanh-nu-ca-si-hat-lo-to-chuyen-nghiep$ post7.php
RewriteRule ^v-blog/team-ruby-1-nam-song-gio-va-chuyen-buon-nguoi$ post8.php
RewriteRule ^v-blog/chung-ta-nen-co-cho-minh-nhung-su-lua-chon$ post9.php
RewriteRule ^v-blog/follow-cho-nguoi-moi$ post10.php
RewriteRule ^v-blog/nhung-ngay-cuoi-tuan-ban-ron$ post11.php
RewriteRule ^v-blog/ngay-cuoi-thap-ki$ post12.php
RewriteRule ^v-blog/arsenal-arteta-dung-nguoi-dung-thoi-diem$ post13.php